# Question 1: Function Basics
Define a function called greet that takes a name as an argument and prints a greeting message with the name.

In [8]:
def greet(name):
    print("Hello Mr.",name, "welcome to India")

In [9]:
greet("John")

Hello Mr. John welcome to India

In [10]:
greet('Peter')

Hello Mr. Peter welcome to India

# Question 2: Function with Return Value
Define a function called square that takes a number as an argument and returns its square.

In [11]:
def square(num):
    return num**2

In [12]:
square(5)

25

In [13]:
square(10)

100

In [14]:
square(20)

400

In [15]:
square(2)

4

# Question 3: Function with Default Parameter
Define a function called power that takes a base and an exponent as arguments,
with the exponent having a default value of 2. 
The function should return the result of raising the base to the exponent.

In [50]:
def power(base, exponent=2):
    
    print(base,'**',exponent,'=',base**exponent)

In [56]:
power(5)

5 ** 2 = 25

In [57]:
power(5,3)

5 ** 3 = 125

In [58]:
power(4,3)

4 ** 3 = 64

# Question 4: Recursive Function
Define a recursive function called factorial that calculates the factorial of a given positive integer.

In [66]:
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n*fact(n-1)

In [69]:
fact(5)

120

# Question 5: Function with Variable Number of Arguments
Define a function called calculate_sum that takes any number of arguments and returns their sum.

In [65]:
def caculate_sum(a,b):
    return a+b

In [67]:
caculate_sum(10, 10)

20

In [68]:
caculate_sum(100, 50)

150

# Question 6: Function with Keyword Arguments
Define a function called print_info that takes the following arguments: name, age, and city. 
The function should print a formatted information message.

In [70]:
def print_info(**kwargs):
    return kwargs

In [71]:
print_info(name='Pintu',age=26,city='New Delhi')

{'name': 'Pintu', 'age': 26, 'city': 'New Delhi'}

In [72]:
print_info(name='Pawan',age=27,city='Surat')

{'name': 'Pawan', 'age': 27, 'city': 'Surat'}

# Question 1: Dictionary Basics
Create an empty dictionary called my_dict.Add the key-value pairs: "name" with the value "Alice", "age" with the value 25, and "city" with the value "New York" to my_dict. Print the value associated with the key "age". Update the value of the "age" key to 26. Remove the key "city" from the dictionary. Check if the key "name" exists in the dictionary.

In [73]:
my_dict={}

In [74]:
type(my_dict)

dict

In [86]:
my_dict={'name':'Alice','age':25,'city':'New York'}

In [98]:
my_dict

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [93]:
print("The value associated with the key 'age' is:",(my_dict['age']))

The value associated with the key 'age' is: 25

In [100]:
my_dict['age']=26

In [101]:
my_dict

{'name': 'Alice', 'age': 26, 'city': 'New York'}

In [102]:
print("The updated value of the 'age' is:",(my_dict['age']))   # age updated with value of 25 to 26

The updated value of the 'age' is: 26

In [107]:
my_dict.pop('city')  # city removed from the dict.

KeyError: 'city'

In [109]:
my_dict

{'name': 'Alice', 'age': 26}

In [110]:
'name' in my_dict   # checking if 'name' is exist in dictionary

True

In [111]:
my_dict['name']  #  name exist with value 'Alice'

'Alice'

# Question 2: Dictionary Manipulation

Create two dictionaries: dict1 with keys "a", "b", and "c" mapping to values 1, 2, and 3, and dict2 with keys "b", "c", and "d" mapping to values 4, 5, and 6. Merge dict2 into dict1 to update the values of common keys, and add the missing keys. Calculate the sum of all values in the merged dictionary.

In [2]:
dict1={'a':1,'b':2,'c':3}
dict2={'b':4,'c':5,'d':6}

In [3]:
dict1.update(dict2)

In [4]:
dict1

{'a': 1, 'b': 4, 'c': 5, 'd': 6}

In [5]:
sumof=sum(dict1.values())

In [13]:
sumof

16

# Question 3: Dictionary Iteration

Create a dictionary with at least 5 key-value pairs of your choice. Write a loop to iterate through the dictionary and print each key and its corresponding value.

In [14]:
dic={'Name':'Pintu Verma', 'Age':26, 'Gender':'Male', 'Place':'New Delhi','Pincode':110003}

In [15]:
for k,v in dic.items():
    print(k,':',v)

Name : Pintu Verma
Age : 26
Gender : Male
Place : New Delhi
Pincode : 110003

# Question 4: Dictionary Manipulation and Comprehension

Create a dictionary with the numbers from 1 to 10 as keys and their squares as values. Use a dictionary comprehension to create a new dictionary containing only the items with even keys.

In [26]:
dict_1={1:1,2:4,3:9,4:16,5:25,6:36,7:49,8:64,9:81,10:100}

In [28]:
{k:v for k,v in dict_1.items() if k%2==0}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

# Question 5: Nested Dictionaries

Create a nested dictionary representing a simple student database. Each student should have a name, age, and a list of subjects they are enrolled in along with their respective grades. Print the name and average grade of each student.

In [23]:
student_info={
    "Dilip Verma":{'Age':18,'Subjects':{'Maths':99,'English':77, 'Hindi':75,'Marathi':65,'Science':85,'Social Science':95}},
    'Deepak Mehta':{'Age':17,'Subjects':{'Maths':100,'English':85,'Hindi':90,'Marathi':87,'Science':72,'Social Science':55}},
    'Suraj Shah':{'Age':16, 'Subjects':{'Maths':62, 'English':50, 'Hindi':60,'Marathi':75,'Science':100,'Social Science':92}}
}

In [24]:
student_info

{'Dilip Verma': {'Age': 18,
  'Subjects': {'Maths': 99,
   'English': 77,
   'Hindi': 75,
   'Marathi': 65,
   'Science': 85,
   'Social Science': 95}},
 'Deepak Mehta': {'Age': 17,
  'Subjects': {'Maths': 100,
   'English': 85,
   'Hindi': 90,
   'Marathi': 87,
   'Science': 72,
   'Social Science': 55}},
 'Suraj Shah': {'Age': 16,
  'Subjects': {'Maths': 62,
   'English': 50,
   'Hindi': 60,
   'Marathi': 75,
   'Science': 100,
   'Social Science': 92}}}

In [25]:
student_info.keys()

dict_keys(['Dilip Verma', 'Deepak Mehta', 'Suraj Shah'])

In [72]:
student_info={
    "Dilip Verma":{'Age':18,'Subjects':{'Maths':99,'English':77, 'Hindi':75,'Marathi':65,'Science':85,'Social Science':95}},
    'Deepak Mehta':{'Age':17,'Subjects':{'Maths':100,'English':85,'Hindi':90,'Marathi':87,'Science':72,'Social Science':55}},
    'Suraj Shah':{'Age':16, 'Subjects':{'Maths':62, 'English':50, 'Hindi':60,'Marathi':75,'Science':100,'Social Science':92}}
}

for x, y in student_info.items():
    grades=y['Subjects'].values()
    avg_grade= sum(grades)/len(grades)
    print(f'{x}')
    print(f'Average Grade = {avg_grade:.2f}')
    print()

Dilip Verma
Average Grade = 82.67

Deepak Mehta
Average Grade = 81.50

Suraj Shah
Average Grade = 73.17

# Question 6: Dictionary Methods

Create a dictionary with some key-value pairs. Use the keys(), values(), and items() methods to get the keys, values, and items of the dictionary, and print them.

In [79]:
dict_info={'Name':'Pintu Verma', 'Age':26, 'Gender':'Male', 'Place':'New Delhi','Pincode':110003}

In [82]:
dict_info.keys()  # keys()

dict_keys(['Name', 'Age', 'Gender', 'Place', 'Pincode'])

In [83]:
dict_info.values()   # values()

dict_values(['Pintu Verma', 26, 'Male', 'New Delhi', 110003])

In [85]:
dict_info.items()    # items()

dict_items([('Name', 'Pintu Verma'), ('Age', 26), ('Gender', 'Male'), ('Place', 'New Delhi'), ('Pincode', 110003)])