# Tuple:
Question 1: Tuple Basics
Define a tuple containing the names of five countries.Access and print the third country from the tuple.

In [5]:
t = ("India", "America", "Chin", "Iran", "Russia")

In [6]:
t[2]

'Chin'

In [7]:
# Question 2: Unpacking Tuples
# Write a Python program that defines a tuple containing a student's name and their score in a test.
# Unpack the tuple to separate the name and score, and then print them.

In [26]:
info = ("Pawan", 26, 95)

In [27]:
Name,Age,Marks=info

In [28]:
Name

'Pawan'

In [29]:
Age

26

In [30]:
Marks

95

In [31]:
# Question 3: Tuple Concatenation
# Write a Python program that takes two tuples as input and returns.
# a new tuple containing the elements from both tuples.

In [84]:
t = input("Enter the tuple1:")
t1 = input("Enter the tuple2:")
new= t,t1
n = type(new)
print(new, n)

Enter the tuple1:45,78
Enter the tuple2:python, hello
('45,78', 'python, hello') <class 'tuple'>

In [85]:
# Question 4: Immutable Nature of Tuples
# Explain the concept of immutability in tuples and provide an example to demonstrate it.

Immutable nature of tuple means that once tuple has been created then we can not change the elements.

In [1]:
t = (45, 78, 50, 45)

In [2]:
type(t)

tuple

In [3]:
t[0]=100

TypeError: 'tuple' object does not support item assignment

In [ ]:
t.append(50)

In [8]:
# Question 5: Returning Multiple Values
# Write a Python function that takes two numbers as input and
# returns a tuple containing their sum and product.

In [18]:
num1=int(input('Enter first number:'))
num2=int(input('Enter second number:'))
def product(num1, num2):
    s=num1+num2
    p=num1*num2
    print(f'The sum is:{s}')
    print(f'The product is:{p}')
print()
product(num1,num2)

Enter first number:50
Enter second number:5

The sum is:55
The product is:250

# Questions on string

# Question: Counting Vowels and Consonants
Write a Python function that takes a string as input and returns the count of vowels 
and consonants in the string.Consider that the input string will only contain alphabetic characters and no spaces.

In [29]:
user = input("Enter any word or sentence:")
x = user.replace(" ", "")
a = x.count("a")
e = x.count("e")
i = x.count("i")
o = x.count("o")
u = x.count("u")
A = x.count("A")
E = x.count("E")
I = x.count("I")
O = x.count("O")
U = x.count("U")
l = len(x)
sum1=(a+e+i+o+u+A+E+I+O+U)
c = l-sum1
print("The count of vowels is "+str(sum1))
print("Consonants is "+str(c))

Enter any word or sentence:dog is black
The count of vowels is 3
Consonants is 7

In [30]:
l

10

In [15]:
user = input("Enter any word or sentence:")
x = user.replace(" ", "")
vowels='aeiouAEIOU'
for v in x:
    if 'aeiou' in v:
        u=v.count(vowels)
        print(v,u)

Enter any word or sentence:hello worrld

# Question 1: Reversing a String
Write a Python function to reverse a given string.

In [30]:
st = input("Write any string:")
def reverse(st):
    return st[::-1]
reverse(st)

Write any string:hello sir

'ris olleh'

TypeError: reverse() missing 1 required positional argument: 'st'


# Question 2: Palindrome Check
Write a Python function that checks if a given string is a palindrome 
(reads the same forwards and backwards).

In [19]:
user = input("Enter any word: ")
def palindrome(user):
    if user==user[::-1]:
        print(user+" is palindrome")
    else:
        print("Not palindrome")
palindrome(user)

Enter any word: hello
Not palindrome

# Question 3: Counting Character Frequencies
Write a Python function that takes a string as input and returns a dictionary 
where keys are characters present in the string, 
and values are the frequencies of those characters.

In [91]:
char = input("Enter word:")      #string method
x = len(char)
dic = {char:x}
print(dic)

Enter word:hello
{'hello': 5}

In [53]:
char = input("Enter word:")      #using functions

def char_freq(char):
    dict1={}
    for i in char:
        keys=dict1.keys()
        if i in keys:
            dict1[i]+=1
        else:
            dict1[i]=1
    return dict1
char_freq(char)

Enter word:apply the dictionary

{'a': 2,
 'p': 2,
 'l': 1,
 'y': 2,
 ' ': 2,
 't': 2,
 'h': 1,
 'e': 1,
 'd': 1,
 'i': 2,
 'c': 1,
 'o': 1,
 'n': 1,
 'r': 1}

# Question 4: Word Count
Write a Python function that takes a sentence (a string containing words separated by spaces)
and returns the count of words in the sentence.

In [102]:
h = input("enter sentence:")    #string method
x=h.split()
y = len(x)
print(x)
print(y)

enter sentence:hello how are you dude
['hello', 'how', 'are', 'you', 'dude']
5

In [47]:
h = input("enter sentence:")      #using function
def word_count(h):
    x=h.split()
    y=len(x)
    print(x)
    print(y)
word_count(h)

enter sentence:My name is pintu
['My', 'name', 'is', 'pintu']
4

# Q. uestion 5: Capitalize Words
Write a Python function that takes a sentence and returns the sentence with each word capitalized.

In [50]:
user_ = input("Write sentence:")   #using function method
def cap_word(user):
    c=user_.title()
    print(c)
cap_word(user)

Write sentence:hello saraswati kumari
Hello Saraswati Kumari

In [1]:
user_ = input("Write sentence:")    # string method
x = user_.title()
print(x)

Write sentence:Hi python is fun
Hi Python Is Fun

# Question 6: Replace Substring
Write a Python function that takes a string, a target substring, 
and a replacement string, and returns the modified string with 
all occurrences of the target substring replaced by the replacement string.

In [10]:
t = "Welcome to the python course."

In [11]:
t

'Welcome to the python course.'

In [13]:
t.replace("course", "class")

'Welcome to the python class.'

In [51]:
t = "Welcome to the python course."
def replace(t):
    r=t.replace("course","class")
    print(r)
replace(t)

Welcome to the python class.

# Questions on List

Question 1: Finding the Maximum and Minimum
 Write a Python function that takes a list of numbers as input and
 returns the maximum and minimum values in the list.

In [ ]:
n = input("Enter the multilple numbers:")
x = n.split(",")
new = []
for i in x:
    g = int(i)
    new.append(g)
m=max(new)
print("The maximum number is:",m)
n=min(new)
print("The minimum number is:",n)

In [70]:
n = input("Enter the multilple numbers:")     #function method
x=n.split(",")
def maxmin(x):
    new=[]
    for i in x:
        g=int(i)
        new.append(g)
    m=max(new)
    print(f"The max number is:{m}")
    n=min(new)
    print(f"The min number is:{n}")
maxmin(x)

Enter the multilple numbers:1,5,7,9,20,50
The max number is:50
The min number is:1

Question 2: List Comprehension
Write a Python program that takes a list of numbers and 
returns a new list containing only the even numbers from the original list.

In [71]:
l=[1,2,3,4,8,7,9,11,12,13,20]

In [72]:
[i for i in l if i%2==0]

[2, 4, 8, 12, 20]

Question 3: List Reversal Write a Python function that takes a list as input and returns a new list with the elements reversed.

In [160]:
n=input("Enter the list of number:")
y=n.split()
def reversal(y):
    newl=[]
    for i in n:
        newl.append(i)
    newl.reverse()
    print(newl)
reversal(y)

Enter the list of number:1,2,3,4,5
['5', ',', '4', ',', '3', ',', '2', ',', '1']

In [151]:
l

[20, 13, 12, 11, 9, 7, 8, 4, 3, 2, 1]

In [167]:
lst=input()
neww=[]
def Reverse(lst):
    for i in lst:
        neww.append(i)
        newlist=neww[::-1]
    return newlist
Reverse(lst)

1234568

['8', '6', '5', '4', '3', '2', '1']

[20, 13, 12, 11, 9, 7, 8, 4, 3, 2, 1]

Question 4: Removing Duplicates
Write a Python function that takes a list as input and
returns a new list with all the duplicates removed.

In [200]:
l1=[10,25,5,10,6,25,8,7,6]
def dup(l1):
    b=set(l1)
    l1=list(b)
    return l1
dup(l1)

[5, 6, 7, 8, 10, 25]